distribution_code_name: "fcitx-rime"
distribution_name: Rime
distribution_version: 5.1.5
install_time: "Thu Mar 21 08:19:41 2024"
installation_id: "{{ .chezmoi.username }}@{{ .chezmoi.hostname }}"
rime_version: 1.10.0
sync_dir: '/home/{{ .chezmoi.username }}/Dropbox/RimeSync'
