distribution_code_name: "fcitx-rime"
distribution_name: Rime
distribution_version: 5.1.8
install_time: "Thu Mar 21 08:19:41 2024"
installation_id: "{{ .chezmoi.username }}@{{ .chezmoi.hostname }}"
rime_version: 1.11.1
sync_dir: "/home/{{ .chezmoi.username }}/Dropbox/RimeSync"
update_time: "Sun Jun 16 09:47:31 2024"