distribution_code_name: "fcitx-rime"
distribution_name: Rime
distribution_version: 5.1.10
install_time: "Thu Mar 21 08:19:41 2024"
installation_id: "{{ .chezmoi.username }}@{{ .chezmoi.hostname }}"
sync_dir: "/home/{{ .chezmoi.username }}/Dropbox/RimeSync"
rime_version: 1.12.0
update_time: "Mon Feb 10 10:44:01 2025"